@font-face {
  font-family: "RobotoMono";
  font-weight: 100 900;
  src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf");

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "RobotoMono", monospace;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
