@font-face {
  font-family: "RobotoMono";
  font-weight: 100 900;
  src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf");

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "RobotoMono", monospace;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: #5C258D;
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
  background: linear-gradient(to right, #4389A2, #5C258D); 
}

.main {
  min-height: 100vh;
  display: grid;
}

.main>div {
  align-self: end;
  margin-inline: auto;
}

footer {
  align-self: end;
  margin-bottom: 10px;
}

footer a {
  color: black;
}
